# Node dependencies
node_modules
npm-debug.log

# Build output
dist

# Sistema operativo
.DS_Store
Thumbs.db

# Archivos de configuración del editor
.vscode
.idea

# Archivos de entorno (si los tienes)
.env
.env.local
